body {
    background-color: #695A77;
}

.side-banner {
    position: relative;
    background-image: url("/images/max-bender-VmX3vmBecFE-unsplash.jpg");
    background-size: contain;
    height: 100vh;
    width: 40vw;
}

.title-cover {
    width: 100%;
    height: 20vh;
    position: absolute;
    top: 30%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.odinProject {
    color: #ebebeb;
    font-size: 50px;
    font-weight: 700;

}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 740px;
    height: 498px;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
    background: none;

    grid-template-columns: repeat(2, 1fr);
}


/* input:invalid {
    border-color: red;
} */

input:valid {
    border-color: blue;
}

input:focus {
    border-color: #111;
    background: #cacaca2c;
}

label{
    display: block;
}

input {
    border: none;
    border-radius: 15px;
    background-color: #ebebeb2c;
    width: 100%;
    font-size: large;
    height: 50px;
}

button {
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: rgb(89, 187, 182);
    font-size: large;
    padding: 10px;
    width: 30%;
}

button:hover {
    background-color: rgb(151, 255, 250);
}