*, *:before, *:after {
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
}

body {
    background-color: #695A77;
}
.primary-container {
    display: flex;
    /* flex-direction: row; */
}

.right-container {
    display: flex;
    flex-direction: column;
    width: 60vw;
    justify-content: center;
    align-items: center;
}

.side-banner {
    position: relative;
    background-image: url("/images/max-bender-VmX3vmBecFE-unsplash.jpg");
    background-size: cover;
    height: 100vh;
    width: 40vw;
    flex-direction: column;
}

img {
    text-align: center;
    max-width: 35%;
    max-height: 35%;
}

.title-cover {
    width: 100%;
    height: 20vh;
    position: absolute;
    top: 30%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
}

.title-text {
    font-family: 'Anton', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.credit {
    font-family: 'Anton', sans-serif;
    color: #ebebeb;
    position: absolute;
    bottom: 0;
    left: 35%;
}

.credit a {
    font-family: 'Anton', sans-serif;
    /* text-decoration: none; */
    color: #ebebeb;
}

.odinProject {
    font-family: 'Anton', sans-serif;
    color: #ebebeb;
    font-size: 50px;
    padding: 20px;
}

.slogan-banner {
    font-family: 'Anton', sans-serif;
    color: #ebebeb;
    font-size: 45px;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    width: 75%;
}

form {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 740px;
    height: 498px;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
    background: none;

    grid-template-columns: repeat(2, 1fr);
}

.input-container {
    flex: 50%;
}


input:focus:invalid {
    border: 1px solid red;
}

input:not(:focus):not(:placeholder-shown):valid {
    border: 1px solid #004B6A;
    background: #cacaca2c;

}

input:focus {
    outline: none;
    border: 1px solid #1F2B3C;
    background: #cacaca2c;
}

input:-webkit-autofill,
input:-webkit-autofill:active,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-internal-autofill-selected,
input:-internal-autofill-previewed
 {
    background: #a31a1a !important;
}

label{
    font-family: 'Anton', sans-serif !important;
    display: block;
    padding-top: 10px !important;
    color: #ebebeb;
    font-weight: 700;
}

input {
    font-family: 'Anton', sans-serif;
    
    border: none;
    border-color: #111;
    background: #cacaca2c;
    border-radius: 15px;
    /* background-color: #ebebeb2c; */
    width: 90%;
    padding-left: 5%;
    font-size: large;
    height: 50px;
    color: #ebebeb;
}

button {
    font-family: 'Anton', sans-serif;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    background-color: #1F2B3C;
    color: #ebebeb;
    font-size: large;
    font-weight: 700;
    padding: 20px;
}

button:hover {
    background-color: #004B6A;
}

.login {
    font-family: 'Anton', sans-serif;
    color: #ebebeb;
    text-align: left;
    padding-top: 15px;
}

.login > a {
    color: #1F2B3C;
    text-decoration: none;
}